



typelist {
font-family: 'Noto Serif SC', serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Cabin', sans-serif;
}

body {
  margin: 0px;
  margin-left:30px;
  padding: 0px;
  perspective: 4px;
  perspective-origin: 50vw 50vh;
   height:100vh;
  width: 100vw;
  background: black;

}


.eng {
  position: absolute;
  left:200px;
  top:50px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: yellow;
  font-size: 50px;
  display: block;
  letter-spacing: 150px;
  line-height: 150px;
  transform: translateZ(1px) scale(0.75);
}

.ch {
  left:400px;
  top:50px;
  position: absolute;
font-family: 'Noto Serif SC', serif;
  font-style: light;
  color: white;
  font-size: 40px;
  display: block;
  letter-spacing: 50px;
  line-height: 180px;
  transform: translateZ(2px) scale(0.5);
}


.backpic {
  position: absolute;
  right:250px;
  top:250px;
  height: 200px;
  width:200px;
  background-image:url(pic/ride.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateZ(0.005px) scale(1);
}

.ex {
  position: absolute;
  left:800px;
  top:600px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: yellow;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(1px) scale(0.75);
}

.ex2 {
  position: absolute;
  left:800px;
  top:580px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(2px) scale(0.5);
}

.works {
  position: absolute;
  left:900px;
  top:400px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: yellow;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(1px) scale(0.75);
}

.works2 {
  position: absolute;
  left:900px;
  top:350px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(2px) scale(0.5);
}

.artist {
  position: absolute;
  left:700px;
  top:500px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: yellow;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(1px) scale(0.75);
}

.artist2 {
  position: absolute;
  left:700px;
  top:400px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
  line-height: 150px;
  transform: translateZ(2px) scale(0.5);
}